.jscls {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: aquamarine;
    cursor: pointer;
}

.jscls:hover {
    background-color: #dddddd;
}